<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista empleados</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-3" th:if="${msg != null}" >
            <div class="alert alert-success" role="alert" th:if="${msg == 'si'}">
                El usuario ha sido borrado exitosamente
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msg == 'no'}">
                No se ha podido borrar el usuario
            </div>
        </div>

        <div class="row mt-3" >
            <h3>Lista de empleados</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr >
                        <th scope="col" ></th>
                        <th scope="col">Apellido y Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Ciudad</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="employee,var : ${listaEmpleados}">
                        <th th:text="${var.index+1}"></th>
                        <td th:text="${employee.last_name} + ', ' + ${employee.first_name}"></td>
                        <td th:text="${employee.email}"></td>
                        <td><span th:text="${employee.department.department_name}" class="badge text-bg-dark" ></span></td>
                        <td th:text="${employee.department.location.city}"></td>
                        <td><a th:href="@{'/employee/editarEmpleado?id=' + ${employee.employee_id} }"><button type="button" class="btn btn-outline-info"><i class="bi bi-pencil"></i></button>   </a></td>
                        <td><a th:href="@{'/employee/borrarEmpleado?id=' + ${employee.employee_id} }"><button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>   </a></td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>