<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <th:block th:fragment="navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" th:href="@{/employees/lista}">Empleados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reporte visual</a>
            </li>

        </ul>
    </th:block>

</body>
</html>